<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 n">
    <menu-component></menu-component>
  </div>
  <div class="col-lg-10 col-sm-10">
    <div class="remit-card">
      <div class="header col-lg-12 col-sm-12">
        <h1>Settings</h1>
      </div>
      <div class="container">
        <div class="col-lg-4 col-md-5 col-sm-12 address">
          <h4>Address Settings</h4>
        </div>
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <label for="country">Country: </label>
            <select name="country">
              <option value="Serbia">Serbia</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="USA">USA</option>
            </select>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 city">
            <label for="city">City: </label>
            <select name="city">
              <option value="Nis">Nis</option>
              <option value="Bor">Bor</option>
              <option value="Belgrade">Belgrade</option>
              <option value="Novi Sad">Novi Sad</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-mg-12 col-sm-12">
            <label for="address">Address: </label>
            <input  type="text" placeholder="Paracinska 25" />
          </div>
        </div>
        <div class="row">
          <div class="buttons">
            <a class="save_button" href="#">Save</a>
          </div>
        </div>
        <div class="row space">
          <div class="col-lg-4 col-md-5 col-sm-12 address">
            <h4>Personal Settings</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5 col-lg-10 col-md-12 col-sm-12">
            <label for="language">Language: </label>
            <select class="lang" name="language">
              <option value="Serbian">Serbian</option>
              <option value="Russian">Russian</option>
              <option value="English">English</option>
              <option value="French">French</option>
            </select>
          </div>
        </div>
        <div class="row bot">
          <div class="buttons">
            <a class="save_button" href="#">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>