<div class="row">
  <div class="col-lg-2 col-sm-2">
    <menu-component></menu-component>
  </div>
  <div class="col-lg-10 col-sm-8">
    <div class="remit-card">
      <h1 class="text-center">Account Verification</h1>
      <div class="check">
        <div class="checkDiv">
          <label class="c">
            <input type="checkbox">
            <span class="checkmark"></span>
            <p>By Clicking 'I Agree' button i accept the General Terms and Conditions</p>
          </label>
          <label class="c">
            <input type="checkbox">
            <span class="checkmark"></span>
            <p>I give my consent to process my personal data for the purposes and conditions set out in the Privacy policy</p>
          </label>
        </div>
        <div class="buttons">
          <a class="next_button" href="#">PROCEED</a>
        </div>
      </div>
    </div>
  </div>
</div>