<div class="row">
    <div class="col-lg-2 col-sm-2">
        <menu-component></menu-component>
      </div>
      <div class="col-lg-10 col-sm-8">
      <div class="remit-card">
        <!-- <div class="container">
          <div class="row">
            <div class="col-lg-4 сol-sm 4">
              <div class="imgRow">
              <img class="img" src="../../../assets/images/icons/wallet.png" alt="">
              <span>WALLET</span> 
              <button class="butn"><img class="i" src="../../../assets/images/icons/sett.png" alt=""></button>
              </div>
              <p class="left">ZPK: 199.12345</p>
              <p class="left">BTC: 199.12345</p>
              <p class="left">ETH: 199.12345</p>
            </div>
            <div class="col-lg-4 сol-sm 4">
              <div class="imgRow">
                <img class="img" src="../../../assets/images/icons/exchange.png" alt="">
                <span>EXCHANGE</span>
                <button class="butn"><img class="i" src="../../../assets/images/icons/sett.png" alt=""></button>
              </div>
              <p class="left">1 USD = 400 KZT</p>
              <p class="left">1 USD = 371 KZT</p>
              <p class="left">1 RSD = 3.55 KZT</p>
            </div>
            <div class="col-lg-4 сol-sm 4 last">
              <div class="imgRow">
                <img class="img" src="../../../assets/images/icons/user.png" alt="">
                <span>Account Status</span>
              </div>
              <p class="left">KYC verification: <b>NO</b></p>
              <br>
              <p class="left">Remit tier: <b>2</b></p>
            </div>
          </div>
        </div>
        <div class="row space">
          <div class="col-lg-7 col-md-11 col-sm-10">
            <div class="chart">
              <span class="myspan">
                ZipCoin Chart
                <button class="mybtn">
                  <img class="i" src="../../../assets/images/icons/sett.png" alt=""></button>
              </span>
              <div class="chartP">
                <img src="../../../assets/images/home.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-11 col-sm-10 sp">
            <div class="notifications">
              <span class="myspan">
                Notifications
                <button class="mybtn"><img class="i" src="../../../assets/images/icons/sett.png" alt=""></button>
              </span>
              <div class="row1">
                <button type="button" class="close">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" class="ring">
                  <i class="far fa-bell"></i>
                </button>
                <p class="not">
                  Remit Transfer  status Update: Complete
                </p>
                <p class="not">Transfer #1221</p>
              </div>
              <div class="row1">
                <button type="button" class="close">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" class="ring">
                  <i class="far fa-bell"></i>
                </button>
                <p class="not">
                  Remit Transfer  status Update: Complete
                </p>
                <p class="not">Transfer #1221</p>
              </div>
              <div class="row1">
                <button type="button" class="close">
                  <i class="fa fa-times"></i>
                </button>
                <button type="button" class="ring">
                  <i class="far fa-bell"></i>
                </button>
                <p class="not">
                  Remit Transfer  status Update: Complete
                </p>
                <p class="not">Transfer #1221</p>
              </div>
            </div>
          </div>
        </div> -->
        <zkoin-step-one></zkoin-step-one>
      </div>
    </div>
  </div> 