<div class="row">
    <div class="col-lg-2 col-sm-2">
        <menu-component></menu-component>
    </div>
      <div class="col-lg-10 col-sm-8">  
      <div class="remit-card">
        <h1 class="header text-center">Account Verification</h1>
        <div class="container">
          <h4 class="text-center">The system is reviewing your documents. This process usually takes between 1 to 3 minutes , but may take up to 24 hours.</h4>
          <h4 class="text-center">Your documents are still under review. The status of your account will change automatically once the review is completed. If you experience any difficulties, please contact your service's customer suppoert.</h4>
          <div class="buttons">
            <a class="back_button" href="#">BACK TO DASHBOARD</a>
          </div>
        </div>
      </div>
    </div>
  </div>

