<div class="row">
    <div class="col-lg-2 col-sm-2">
        <menu-component></menu-component>
      </div>
      <div class="col-lg-10 col-sm-12">
    <div class="remit-card">
      <div class="header col-lg-12 col-sm-12">
        <h1>Transfer History</h1>
      </div>
      <div class="container">
        <ul class="tabs">
          <li class="tab-link current" data-tab="tab-1">All transfers</li>
          <li class="tab-link" data-tab="tab-2">In Progress</li>
          <li class="tab-link" data-tab="tab-3">Delivered</li>
          <div class="dropdown">
            <button class="dropbtn">Last 5 days <i class="fa fa-angle-down"></i></button>
            <div class="dropdown-content">
              <a href="#">Last 2 Days</a>
              <a href="#">Last 10 Days</a>
            </div> 
          </div>
        </ul>

        <div id="tab-1" class="tab-content current">
          <div class="row">
            <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
              <div class="chart">
                <img src="../../../assets/images/chart.png" alt="chart">
                <div class="row">
                  <div class="col-3">01.05.2018.</div>
                  <div class="col-3">01.06.2018.</div>
                  <div class="col-3">01.07.2018.</div>
                  <div class="col-3">01.08.2018.</div>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
            <div class="transfers">
              <div class="tCol">
                <h5 class="text-left">Last Transfers</h5>
                <div class="tRow">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
                <div class="tRow">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
                <div class="tRowLast">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
              </div>
              <div class="tCol r">
                <div class="tRow">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
                <div class="tRow">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
                <div class="tRowLast">
                  <p>Status In Progress</p>
                  <p>Date: 20.09.2018</p>
                  <p>From: Dmitry Valitinsiy</p>
                  <p>To: Lazar Jankovic (Serbia,Nis)</p>
                  <p>Amount: $100</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="tab-2" class="tab-content">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
                  <div class="chart">
                    <img src="../../../assets/images/chart.png" alt="chart">
                    <div class="row">
                      <div class="col-3">01.05.2018.</div>
                      <div class="col-3">01.06.2018.</div>
                      <div class="col-3">01.07.2018.</div>
                      <div class="col-3">01.08.2018.</div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
                <div class="transfers">
                  <div class="tCol">
                    <h5 class="text-left">Last Transfers</h5>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRowLast">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                  </div>
                  <div class="tCol r">
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRowLast">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <div class="row">
                <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
                  <div class="chart">
                    <img src="../../../assets/images/chart.png" alt="chart">
                    <div class="row">
                      <div class="col-3">01.05.2018.</div>
                      <div class="col-3">01.06.2018.</div>
                      <div class="col-3">01.07.2018.</div>
                      <div class="col-3">01.08.2018.</div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12" style="margin-top: 50px;">
                <div class="transfers">
                  <div class="tCol">
                    <h5 class="text-left">Last Transfers</h5>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRowLast">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                  </div>
                  <div class="tCol r">
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRow">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                    <div class="tRowLast">
                      <p>Status In Progress</p>
                      <p>Date: 20.09.2018</p>
                      <p>From: Dmitry Valitinsiy</p>
                      <p>To: Lazar Jankovic (Serbia,Nis)</p>
                      <p>Amount: $100</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>