<div class="row">
  <div class="col-lg-2 col-sm-2">
      <menu-component></menu-component>
  </div>
    <div class="col-lg-10 col-sm-8">  
      <div class="remit-card">
        <h1 class="header text-center">Account Verification</h1>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <select name="country"> 
              <option value="USA">USA</option>
              </select>
              <label for="country">Please upload a photo of your passport. The photo should be bright and clear, and all corners of your document must be visible </label>
              <label class="c">
                <input type="checkbox">
                <span class="checkmark"></span>
                <!-- TODO Add Functionality to this Checkpoint on Click -->
                <p>Add another page</p>
              </label>
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8 col-sm-12">
                  <div class="uploadDiv">
                    <input type="file" name="file" id="file" class="upload"/>
                    <label for="file" class="passport"></label>
                    <p class="text-center uploadP">.jpg or .pdg should be more then 500KB and 300DPI</p>
                  </div>
                  <img src="../../../../assets/images/Layer 4.png" style="max-height: 188px">
                </div>
              </div>
          </div>
          <div class="col-lg-12">
            <div class="buttons">
              <a class="next_button" href="#">PROCEED</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>