<div class="row">
  <div class="col-lg-2 col-sm-2">
      <menu-component></menu-component>
  </div>
    <div class="col-lg-10 col-sm-8">    
      <div class="remit-card">
        <h1 class="text-center">Account Verification</h1>
        <div class="check">
          <div class="selectDiv">
            <div class="col-12">
              <!-- TODO Add More Countries -->
              <select name="country"> 
                <option>-- Select country of issue --</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Serbia">Serbia</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
              </select>
            </div>
          </div>
          <div class="buttons">
            <a class="next_button" href="#">PROCEED</a>
          </div>
      </div>
    </div>
  </div>
</div>