<div class="row">
    <div class="col-lg-2 col-sm-2">
      <menu-component></menu-component>
    </div>
    <div class="col-lg-10 col-sm-10">
      <div class="remit-card">
        <div class="header col-lg-12 col-sm-12">
          <h1>Sending Limits</h1>
        </div>
        <div class="mycol">
          <div class="gold">We would love to help you increase your sending limit. We'll need to collect some information from you first. </div>
          <ul>
            Why do we need this information?
            <li>We need to comply with regulatory obligations</li>
            <li>We want to provide a safe service for you</li>
          </ul>
          <div class="firstPar">
            Any information you provide securely throughour website or app is protected as descibed in our Private Policy
          </div>
        </div>
        <div class="container">
          <table class="lastRow">
            <tr>
              <th></th>
              <th class="mytd">TIER 1</th>
              <th class="mytd">TIER 2</th>
              <th class="mytd">TIER 3</th>
            </tr>
            <tr>
              <td>24 Hours</td>
              <td class="mytd">$999</td>
              <td class="mytd">$6.000</td>
              <td class="mytd">$9.999</td>
            </tr>
            <tr>
              <td>7 Days</td>
              <td class="mytd">$2.999</td>
              <td class="mytd">-</td>
              <td class="mytd">-</td>
            </tr>
            <tr>
              <td>30 Days</td>
              <td class="mytd">$10.000</td>
              <td class="mytd">$20.000</td>
              <td class="mytd">$30.000</td>
            </tr>
            <tr>
              <td></td>
              <td class="mytd line">Current</td>
              <td class="mytd line2">Apply Now</td>
              <td class="mytd line2">Apply Now</td>
            </tr>
            <tr class="mytr">
              <td></td>
              <td class="mytd"></td>
              <td class="mytd mini">Information Needed</td>
              <td class="mytd mini">Information Needed</td>
            </tr>
            <tr>
              <td></td>
              <td class="mytd"></td>
              <td class="mytd par">Tier 1 information if not already approved</td>
              <td class="mytd par">Tier 2 information if not already approved</td>
            </tr>
            <tr>
              <td></td>
              <td class="mytd"></td>
              <td class="mytd par">Your reason for sending money and source of funds</td>
              <td class="mytd par">Proof of how you are funding your transaction (e.g. bank statement paystub)</td>
            </tr>
            <tr>
              <td></td>
              <td class="mytd"></td>
              <td class="mytd par"></td>
              <td class="mytd par">Additional information about your use of our service including details of your  source of funds</td>
            </tr>
          </table>
          <div class="m">
            <div class="col-12 line">TIER 1</div>
            <div class="border"></div>
            <div class="row">
              <div class="col-6">24 Hours</div>
              <div class="col-6">$999</div>
            </div>
            <div class="row">
              <div class="col-6">7 Days</div>
              <div class="col-6">$2.999</div>
            </div>
            <div class="row">
              <div class="col-6">30 Days</div>
              <div class="col-6">$10.000</div>
            </div>
            <div class="col-12 line">Current</div>

            <div class="col-12 line">TIER 2</div>
            <div class="border"></div>
            <div class="row">
              <div class="col-6">24 Hours</div>
              <div class="col-6">$6.000</div>
            </div>
            <div class="row">
              <div class="col-6">7 Days</div>
              <div class="col-6">-</div>
            </div>
            <div class="row">
              <div class="col-6">30 Days</div>
              <div class="col-6">$20.000</div>
            </div>
            <div class="col-12 line2">Apply Now</div>
            <p class="mini">Information Needed</p>
            <div class="par">Tier 1 information if not already approved</div>
            <div class="par">Your reason for sending money and source of funds</div>
            <div class="col-12 line">TIER 3</div>
            <div class="border"></div>
            <div class="row">
              <div class="col-6">24 Hours</div>
              <div class="col-6">$9.999</div>
            </div>
            <div class="row">
              <div class="col-6">7 Days</div>
              <div class="col-6">-</div>
            </div>
            <div class="row">
              <div class="col-6">30 Days</div>
              <div class="col-6">$30.000</div>
            </div>
            <div class="col-12 line2">Apply Now</div>
            <p class="mini">Information Needed</p>
            <div class="par">Tier 2 information if not already approved</div>
            <div class="par">Proof of how you are funding your transaction (e.g. bank statement paystub)</div>
            <div class="par">Additional information about your use of our service including details of your source of funds</div>
          </div>
        </div>
        <div class="footer">
          <div class="par">
            If we are enable to verify this information electronically we may require additional information. This information may include: proof of address,and proof of funding. 
          </div>
        </div>
        <div class="footer">
          <div class="par">
            <b>Additional sending limits may apply depending upon your choice of payout partner of reciving location.</b>
          </div>
        </div>
      </div>
      <!-- Table of Tiers -->
    </div>
  </div>