<div class="home">
  <div class="side_menu">
    <div class="header">
      <p class="hZ">Zipcoin</p>
      <div  class="back_menu"></div>
    </div>
    <div class="user_menu">
      <div class="notifications">
        <div class="bell"></div>
        <div class="msg"></div>
      </div>
      <div class="user_avatar" (click)="redirect('')"></div>
      <p class="user_name">Tony Stark</p>
      <div class="user_line"></div>
      <div class="user_wallet">
        <p>ZPK 100</p><span></span><p>BTC 100</p>
      </div>
      <div class="menu_block">
        <div class="fin_block">
          <div class="menu_parrent_item" id="dropdown-button">
            <p>Finance</p>
            <div class="parrent_arrow"></div>
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
        </div>
        <div class="fin_block">
          <div class="menu_parrent_item" id="dropdown-button">
            <p>Remit</p>
            <div class="parrent_arrow"></div>
          </div>
          <div class="menu_sub_item" (click)="redirect('remit-create')">
            <p>Create</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item" (click)="redirect('remit-history')">
            <p>History</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item" (click)="redirect('remit-limits')">
            <p>Limits</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
        </div>
        <div class="fin_block">
          <div class="menu_parrent_item" id="dropdown-button">
            <p>Account</p>
            <div class="parrent_arrow"></div>
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
        </div>
        <div class="fin_block">
          <div class="menu_parrent_item" id="dropdown-button">
            <p>Settings</p>
            <div class="parrent_arrow"></div>
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
          <div class="menu_sub_item">
            <p>Transfer</p>
            <img class="sub_ico" src="../../../assets/images/icons/menu/transfer.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
