<!--<div class="remit_step_two">
            <div class="user_info">
              <div class="title">
                <h1>Beneficiary’s info</h1>
              </div>
              <p class="description">Enter your beneficiary’s KAZKOM Bank account Number</p>
              <input type="text" placeholder="e.g., 123456789" />
              <div class="title">
                <h1>Beneficiary’s contact information</h1>
              </div>
              <p class="description">This information should match what's on your recipient's ID.</p>
              <div class="contact_block">
                <input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
                <br>
                <input type="text" placeholder="Phone number" />
                <label class="c">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <p>Send SMS updates about this transfer to my beneficiary’s</p>
                </label>
              </div>
              <div class="title">
                <h1>Beneficiary’s Address</h1>
              </div>
              <div class="contact_block">
                <input type="text" placeholder="Select a state" />
                <input type="text" placeholder="City" />
                <br>
                <input class="full" type="text" placeholder="Address" />
              </div>
            </div>
            <div class="buttons">
              <a href="#">Continue</a>
              <a href="#">Back</a>
            </div>
          </div>-->
          <!--<div class="remit_step_two">
            <div class="user_info">
              <div class="title">
                <h1>Beneficiary’s info</h1>
              </div>
              <p class="description">Enter your beneficiary’s KAZKOM Bank account Number</p>
              <input type="text" placeholder="e.g., 123456789" />
              <div class="title">
                <h1>Beneficiary’s contact information</h1>
              </div>
              <p class="description">This information should match what's on your recipient's ID.</p>
              <div class="contact_block">
                <input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
                <br>
                <input type="text" placeholder="Phone number" />
                <label class="c">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                  <p>Send SMS updates about this transfer to my beneficiary’s</p>
                </label>
              </div>
              <div class="title">
                <h1>Beneficiary’s Address</h1>
              </div>
              <div class="contact_block">
                <input type="text" placeholder="Select a state" />
                <input type="text" placeholder="City" />
                <br>
                <input class="full" type="text" placeholder="Address" />
              </div>
            </div>
            <div class="buttons">
              <a href="#">Continue</a>
              <a href="#">Back</a>
            </div>
          </div>-->